img {
    max-width: 100%
  display: block;
  width: 1000px;
  height: 1652px;
}

a:hover {
        fill: purple;
        stroke: yellow;
        stroke-width: 2px;
        transition: fill 0.4s;
      }


